set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

"\C-i": menu-complete
"\e[Z": menu-complete-backward

"\C-o": '"\C-k"\C-uy\C-m'
"\C-j": '"\C-k"\C-ull\C-m'
"\ez": 'cd -\015'

"\C-l": clear-screen
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-b": backward-word
